* {
    box-sizing: border-box;
}
    
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}

/* header section */

header {
    background-color: black;
    width: 100%;
    min-height: 70px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    z-index: 69;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav img {
    height: 70px;
    padding: 10px;
}

nav ul {
    width: 400px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

nav ul a {
    color: seashell;
}

nav ul a:hover, a:active {
    color: rgb(105, 52, 22);
}

/* Mission section */

main {
    margin-top: 70px;
}

#mission {
    display: flex;
    max-width: 1200px;
    height: 700px;
    justify-content: center;
    align-items: center;
    background-image: url("../images/mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

#mission .heading {
    width: 100%;
    background-color: black;
}

#mission h2, h4 {
    margin: 10px;
}

/* Featured Tea section */

#featured-tea {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery figure {
    margin: 10px;
}

.gallery img {
    width: 300px;
    height: 200px;
}

@media only screen and (max-width: 400px) {
    .gallery img {
        width: 375px;
        height: auto;
    }
}

.gallery figcaption {
    padding-top: 10px;
}

/* Locations section */

#locations {
    max-width: 1200px;
    min-height: 500px;
    margin: 70px auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#locations h2 {
    padding: 0;
    margin-top: 70px;
    margin-bottom: 0px;
} 

.location-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 0 20px;
    margin: 15px 20px;
    background-color: black;
    opacity: 0.9;
    width: 300px;
}

/* Footer section */

footer {
    display: flex;
    flex-direction: column;
}

address {
    font-style: normal;    
}
.contact {
    min-height: 200px;
}

.copyright {
    display: flex;
    margin-left: 20px;
}
